<mat-toolbar>Application</mat-toolbar>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="center">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="ubMenu">
    <span>Upper Body</span>
  </button>

  <mat-menu #ubMenu="matMenu">
    <button mat-menu-item (click)=generateTest($event)>Elbow</button>
    <button mat-menu-item (click)=generateTest($event)>Rotator Cuff</button>
    <button mat-menu-item (click)=generateTest($event)>Wrist</button>
    <button mat-menu-item (click)=generateTest($event)>Neck</button>
  </mat-menu>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="lbMenu">
    <span>Lower Body</span>
  </button>

  <mat-menu #lbMenu="matMenu">
    <button mat-menu-item (click)=generateTest($event)>Knee Joint</button>
    <button mat-menu-item (click)=generateTest($event)>Leg Lift</button>
    <button mat-menu-item (click)=generateTest($event)>Ankle</button>
  </mat-menu>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="bMenu">
    <span>Back</span>
  </button>

  <mat-menu #bMenu="matMenu">
    <button mat-menu-item (click)=generateTest($event)>Hip Twist</button>
    <button mat-menu-item (click)=generateTest($event)>Toe Touches</button>
    <button mat-menu-item (click)=generateTest($event)>Side Lean</button>
  </mat-menu>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="reactionMenu">
    <span>Reaction</span>
  </button>

  <mat-menu #reactionMenu="matMenu">
    <button mat-menu-item (click)=generateTest($event)>Physical</button>
    <button mat-menu-item (click)=generateTest($event)>Sound</button>
  </mat-menu>
</div>
